<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>ColorNet-2020</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
<script src="/js/jscolor.js"></script>
<script src="/js/brain-browser.min.js"></script>
  </head>
  <body>
      <input data-jscolor="{onInput:'update(this)', alpha:1.0}" id="colorInput">
      <hr>
      <div id="out"></div>


      <script type="text/javascript">

        //red
        var net = new brain.NeuralNetwork();
        net.train([
        {input: {rojo: 0,verde: 0,azul: 0},output: {color: 1}},
        {input: {rojo: 1,verde: 1,azul: 1},output: {color: 0}},
        //
        {input: {rojo: 0,verde: 1,azul: 0},output: {color: 0}},
        {input: {rojo: 0,verde: 0,azul: 1},output: {color: 1}},
        {input: {rojo: 1,verde: 0,azul: 0},output: {color: 0}},

        ]);
        //
        function update(color){
          var R=color.channel('R')/255;
          var G=color.channel('G')/255;
          var B=color.channel('B')/255;
          var elDiv= document.getElementById("out");

            var entrada={
              rojo: R,
              verde:G,
              azul:B
            }

            var r = net.run(entrada);
            elDiv.innerHTML="R: "+R+"<br>G: "+G+"<br>B: "+B+"<br>S:"+r.color;
            document.body.style.backgroundColor=color;
            if(r.color > 0.5){
                document.body.style.color="white";
            }else{
              document.body.style.color="black";
            }
        }
      </script>
    </body>
</html>
